body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.settings {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.fa-cog {
    font-size: 2.5rem;
    color: #ccc;
}

.fa-cog:hover {
    color: #FFD352;
    transition: ease-in;
    transition-duration: 300ms;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.openCloseSideNav {
    width: 300px;
    margin-left: 300px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav i {
    margin: 10px;
    font-size: 1.5rem;
}

.menuItem, .closebtn {
    color: #fff;
    margin: 0 10px;
    white-space: nowrap;
}

.menuItem:hover, .closebtn:hover {
    color: #5271ff;
    transition: ease-in;
    transition-duration: 300ms;
    cursor: pointer;
}

.settingsMenuSelected {
    color: #5271ff;
}

.menuDivider {
    border: solid 1px rgba(255, 255, 255, 0.5);
    width: 85%;
    margin: 0 auto;
}

.gameModeIcons {
    margin-bottom: 20px;
}

.clearIcons {
    margin-top: 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: #FFD352;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 500ms;
}

.players {
    display: flex;
    justify-content: center;
    margin: 50px 20px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1em;
}

.playerBold {
    font-weight: 900;
}

.playerBoarder {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 5px 15px;
    margin: 20px;
    width: 200px;
    color: #fff;
    background-color: #5271ff;
    border-radius: 20px;
}

.board {
    display: flex;
    justify-content: center;
    background-color: #5271ff;
    padding: 30px 0;
}

.board table {
    border-spacing: 0px;
}

.board td {
    width: 100px;
    height: 100px;
    border: 3px solid #304ed6;
    display: inline-flex;
    justify-content: center;
}

#cell1, #cell2, #cell3 {
    border-top: none;
}

#cell3, #cell6, #cell9 {
    border-right: none;
}

#cell7, #cell8, #cell9 {
    border-bottom: none;
}

#cell1, #cell4, #cell7 {
    border-left: none;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5272ff;
    z-index: 2;
    cursor: pointer;
}

.removeOverlay {
    opacity: 0;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    color: white;
}

/* animations start here */

.circle {
    width: 60px;
}

.cross {
    width: 55px;
}

.circlepath, .crossPath1, .crossPath2 {
    stroke-dasharray: 55;
    animation: dash 250ms linear;
    animation-fill-mode: forwards;
    stroke-dashoffset: 55;
}

.crossPath1 {
    animation-duration: 250ms;
}

.crossPath2 {
    animation-delay: 275ms;
    animation-duration: 250ms;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.hideIconDivs {
    display: none;
}

.resultOverlayIcon .circle, .resultOverlayIcon .cross {
    width: 150px;
}

.resultOverlayIcon .circlepath, .resultOverlayIcon .crossPath1 {
    animation-delay: 500ms;
}

.resultOverlayIcon .crossPath2 {
    animation-delay: 775ms;
}

.playerBackground {
    background-color: #FFD352;
}

/* animations end here */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav .mode {
        font-size: 18px;
    }
}